:root {
  --slide-width: 200px;
  --slide-gap: 4em;
  --animation-duration: 30s;
}

section.partner_slider {
  padding: 40px 0;
  margin: 60px;
}

img.slider_image {
  width: var(--slide-width);
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.slide-track {
  display: flex;
  gap: var(--slide-gap);
  animation: scroll var(--animation-duration) linear infinite;
}

.slider {
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid rgba(94, 94, 94, 0.205);
}

.slider::before, .slider::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px; /* Adjust width of the gradient as needed */
  z-index: 1;
}

.slider::before {
  left: 0;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.slider::after {
  right: 0;
  background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * (var(--slide-width) + var(--slide-gap)) * var(--num-slides)));
  }
}