.header_info {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 0;
  text-align: center;

  a {
    text-decoration: underline;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;

  menu {
    color: white;
    background-color: var(--primary-color);
    padding: 0px 20px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    z-index: 500;
    nav{
      a:hover{
        color: white
      }
    }
  }
  div.header_info {
    position: relative;
    z-index: 500;
  }
}

menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;

  .header_logo {
    font-size: 14px;
    font-weight: bold;
    h1 {
      color: #fff !important;
      font-size: 34px;
    }
  }

  .btn_1 {
    background-color: white;
    color: var(--primary-color);
    font-size: 24px;
  }

  nav {
    a {
      margin: 0 10px;
      font-weight: 500;
      font-size: 20px;
    }
  }
}

nav.mobile {
  position: fixed;
  top: 0;
  left: 100%;
  /* left: 100%; */
  /* margin-left: 100%; */
  /* transform: translateX(100%); */
  display: flex;
  gap: 25px;
  font-size: 20px;
  z-index: 200;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  height: 100vh;
  width: 100%;
  transition: all 0.5s ease;
  overflow: hidden;
  button {
    margin-top: 20px;
  }
}
nav.mobile.menu_toggle {
  left: 0;
}

.mobile_menu {
  font-size: 25px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 993px) {
  menu {
    nav,
    button {
      display: none;
    }
  }
  .mobile_menu {
    display: block;
  }
  .header_logo {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .header_info {
    font-size: 12px;
  }
}
