section.comparision_table {
  margin: 5rem 0;
}

.comparision_table_container {
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
  & > :first-child {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: #e0e0e0 2px solid;

  }
  .comparision_table_row:first-child {
      border-radius: 20px 20px 0 0;
      
  }
  .comparision_table_row:last-child {
      border-radius: 0 0 20px 20px;
 
  }
 
  .comparision_table_row {
    transition: all 0.3s ease-in-out;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // gap: 30px;

    align-items: center;
    justify-content: center;
    // border-left: 2px solid #e0e0e0;
    // border-top: 2px solid #e0e0e0;
    // border-right: 2px solid #e0e0e0;
   
    &:last-child {
      border-bottom: 2px solid #e0e0e0;
    }

    &:nth-child(even) {
      background-color: #f2f2f2;
    }
    & > :not(:first-child) {
    //   border-left: 2px solid #e0e0e0;
    }
 
    .comparision_table_item_title {
      font-size: 19px;
      font-weight: bold;
      text-align: center;

      color: var(--primary-color);
    }
    .comparision_table_head{
        .comparision_table_head_title{
            width: 100%;
        }
    }
    .comparision_table_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      height: -webkit-fill-available;
      .comparision_table_head_title{
        width: 100%;
        background-color: var(--primary-color);
      }
    }
   
    .comparision_table_item .comparision_table_head_title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }


    .comparision_table_item_head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        height: -webkit-fill-available;
        .comparision_table_head_title{
          width: 100%;
          background-color: var(--primary-color);
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          margin-bottom: 20px;
          padding: 20px;
          color: white;
        }
        
        .comparision_table_head_subtitle{
           font-weight: bold;
            padding-bottom: 20px;
        }
      }
  
    
  }
}


@media screen and (max-width: 1138px) {
    .comparision_table .container{
        overflow-x: scroll;
    }
    .comparision_table .comparision_table_container{
       width: 1138px;
    }
    // .comparision_table_row{
    //     grid-template-columns: 227px 227px 227px 227px;
    // }
}
.comparision_table_row:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  