section.solutions {
    padding: 80px 0;
}

.solution_image_container {
  width: 750px;
  margin: 0 auto;

  padding: 35px;
  border-radius: 14px;
  // ////////////////////////
  animation-name: backgroundColorPalette;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  // ///////////////////////
  img {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
  }
}

.solutions_container {
    padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  gap: 40px;

  .solutions_container_items {
   margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    // align-items: center;
    justify-content: center;
    gap: 30px;
    .solutions_container_item{
        display: flex;
        align-items: center;
        gap: 30px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 30px;
        border-radius: 10px;
        i{
            font-size: 35px;
            color: var(--primary-color)
            
        }
        h3{
            color: var(--primary-title-color);
            margin-bottom: 10px;
            font-size: 25px;
        }

    }
  }
}

@keyframes backgroundColorPalette {
  0% {
    background: #7bd5f550;
  }
  25% {
    background: #787ef67c;
  }
  50% {
    background: #4adede63;
  }
  75% {
    background: #1ca7ec60;
  }
  100% {
    background: #557eee94;
  }
}

@media screen and (max-width: 791px) {
  
  .solutions_container {
    .solutions_container_items {
      grid-template-columns: 1fr;
    }
  }
  .solution_image_container{
    width: 100%;
    padding: 10px;
  }
}
