section.success_starts_here {
    background-color: #f9fafb;
    padding: 80px 0;
}

.success_starts_here_container{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
  

    .success_starts_here_item{
        padding: 40px 20px;
        background-color: white;
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
        // padding: 0 20px;
        .success_starts_here_item_image{
            margin-bottom: 80px;
            border-radius: 10px;
            background-color: rgb(0 134 255 / 24%) ;
            padding: 10px;
            img{
                width: 45px;
            height: 45px;
            }
        }
    }
}


.success_starts_here_item_content{
    h3{
       font-size: 21px;
        margin-bottom: 30px;
        font-weight: 700;
        color: var(--primary-title-color);
    }
    p{
        font-size: 16px;
        margin-bottom: 30px;
    }
}


.success_start_here_button{
    
    border: none;
   
    color: var(--primary-color);
 background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    img{
        margin-left: 10px;
        width: 30px;
    }
}


@media screen and (max-width: 984px) {
    
    
    .success_starts_here_container{
        flex-direction: column;
        gap: 20px;
    }   


    .success_starts_here_item{
        width: 100% !important;
        
    }
}

